/* Helpers */
.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}
/* Bootstrap five columns extend */
.col-half-offset{
    margin-left:4.166666667%
}


/* Boxes styles */
.box{
	margin: 5px;
}
.box > .box-header > img{
	width: 100%;
}
.box > .box-body > ul{
	list-style-type: none;
    padding: 0;
    margin: 0;
}
.box > .box-body > ul > li{
	padding: 0 1em;
	border-style: solid;
    border-width: 1px;
    border-top-style: none;
    position: relative;

}
.box > .box-body > ul > li:hover,
.box > .box-body > ul > li:hover > span.box-dot,
.nav-section > nav > .nav-item:hover,
.footer-aditional h4:hover,
.link-item:hover,
.box.right-box > .box-body p:hover{
	cursor: pointer;
}
.box > .box-body > ul > li.active,
.nav-section > nav > .nav-item.active{
	color: white !important;	
}
.box > .box-body > ul > li.red-dot.active,
.nav-section > nav > .nav-item.red-dot.active{
	background-color: #E34C17;
}
.box > .box-body > ul > li.yellow-dot.active,
.nav-section > nav > .nav-item.yellow-dot.active{
	background-color: #FDAF17;

}
.box > .box-body > ul > li.maroon-dot.active,
.nav-section > nav > .nav-item.maroon-dot.active{
	background-color: #923222;
}
.box > .box-body > ul > li.orange-dot.active,
.nav-section > nav > .nav-item.orange-dot.active{
	background-color: #ED7F26;
}
.box > .box-body > ul > li.red-dot.active > span,
.box > .box-body > ul > li.yellow-dot.active > span,
.box > .box-body > ul > li.maroon-dot.active > span,
.box > .box-body > ul > li.orange-dot.active > span{
    background-image: url(../imgs/qa_white.png);
}

.box > .box-body > ul > li.special-size{
    height: 42px;
    padding: 12px 1em;
}
.box > .box-body > ul > li.special-size > span.box-dot{
    top: 1em;
}
.box > .box-body > ul > li > span.box-dot{
    background-size: 14px;
    width: 14px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    right: 1em;
    margin-top: 3px;
    float: right;
}
.box > .box-body > ul > li.yellow-dot,
.nav-section > nav > .nav-item.yellow-dot,
.nav-item-content.yellow-dot{
	border-color: #FDAF17;
	color: #FDAF17;
}
.box > .box-body > ul > li.yellow-dot > span{
    background-image: url(../imgs/qa_yellow.png);
}
.box > .box-body > ul > li.maroon-dot,
.nav-section > nav > .nav-item.maroon-dot,
.nav-item-content.maroon-dot{
	border-color: #923222;
	color: #923222;
}
.box > .box-body > ul > li.maroon-dot > span{
    background-image: url(../imgs/qa_maroon.png);
}
.box > .box-body > ul > li.red-dot,
.nav-section > nav > .nav-item.red-dot,
.nav-item-content.red-dot{
	border-color: #E34C17;
	color: #E34C17;
}
.box > .box-body > ul > li.red-dot > span{
    background-image: url(../imgs/qa_red.png);
}
.box > .box-body > ul > li.orange-dot,
.nav-section > nav > .nav-item.orange-dot,
.nav-item-content.orange-dot{
	border-color: #ED7F26;
	color: #ED7F26;
}
.box > .box-body > ul > li.orange-dot > span{
    background-image: url(../imgs/qa_orange.png);
}


/* Banner styles */
#banner-container{
	position: relative;
	padding: 5px 5px 0;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: min-height 0.25s ease-out;
	box-sizing:border-box;
}
#banner-container.big-slider{
	min-height: 230px;
}
#banner-container.small-slider{
	min-height: 70px;
}
#banner-container.big-slider > .slide > .small-slide,
#banner-container.small-slider > .slide > .big-slide,
#banner-container > .slide{
	display: none;
}
#banner-container > .slide.active{
	display: block;
}
#banner-container > .banner-dots-container{
	position: absolute;
	width: 60px;
	text-align: center;
	height: 20px;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
}
#banner-container > .banner-dots-container > a{
	display: block;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
}
#banner-container > .banner-dots-container > a > .banner-dot{
	background-image: url(../imgs/pager_banner.png);
	display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px;
}
#banner-container > .banner-dots-container > a.active > .banner-dot{
	background-image: url(../imgs/pager_banner_active.png);
}
#banner-container > .window-element{
	background-color: gray;
	display: none;
	opacity: 0;
	width: 99%;
	height: 100%;
	position: absolute;
	z-index: 2;
	padding: 5px 5px 0;
}

/* Left menu styles */
.leftMenuOptions{
	opacity: 0;
}

/* Nav section */
.nav-section{
	display: none;
}
.nav-section > nav{
	padding: 5px;
}
.nav-section > nav > .nav-item{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.nav-section > nav > .nav-item:first-child,
.nav-section > nav > .nav-item:nth-child(6n){
	margin-right: 1%;
	margin-left: 0;
}
.nav-section > nav > .nav-item:last-child,
.nav-section > nav > .nav-item:nth-child(5n){
	margin-left: 1%;
	margin-right: 0;
}
.nav-section > nav > .nav-item{
    width: 18.4%;
    color: #E34C17;
    float: left;
    border-style: solid;
    height: 50px;
    border-width: 2px;
    padding: 6px;
    text-decoration: none;
}
.nav-contents{
	display: none;
	opacity: 0;
    background-color: #DEDDDB;
    margin: 0 -9px 0 -10px;
}
.nav-contents > .nav-item-content{
    border-style: solid;
    border-width: 1px;
}
.excel-icon{
	display: block;
    background-image: url(../imgs/xls.png);
    width: 19px;
    height: 13px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 5px;
}
.nav-item-content{
    width: 31.33%;
    float: left;
    margin: 1%;
}
.nav-item-content.red-dot > .description{
	background-color: #E34C17;
	color: white;
}
.footer-contents{
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.footer-contents .footer-item-content h4{
    font-size: 1em;
    font-weight: bold;
    margin: 4px 0;

}
.footer-contents .footer-item-content .link-item{
	font-size: 1em;
	color: #ED7F26;
}
.plus-icon{
    display: block;
    background-image: url(../imgs/bottom-link.png);
    width: 19px;
    height: 20px;
    background-repeat: no-repeat;
    float: right;
}

/* Right boxes*/
.box.right-box{
	background-color: #E6E2E1;
	padding: 5px;
	position: relative;
	margin-bottom: 25px;
}
.box.right-box > .box-header{
	height: 85px;
}
.box.right-box > .box-body{
	height: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
}
.box.right-box > .box-body p{
    font-size: 0.8em;
    padding: 5px;
    color: white;
}
.box.right-box.orange-dot > .box-header .title{
    margin-top: 24px;
    font-size: 1.1em;
    color: #ED7F26;
    font-weight: bold;
}
.box.right-box.orange-dot > .box-body p{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea6907+1,ed7f26+100 */
	background: #ea6907; /* Old browsers */
	background: -moz-linear-gradient(top, #ea6907 1%, #ed7f26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ea6907 1%,#ed7f26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ea6907 1%,#ed7f26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea6907', endColorstr='#ed7f26',GradientType=0 ); /* IE6-9 */
}
.box.right-box.maroon-dot > .box-header .title{
    margin-top: 18px;
    font-size: 0.8em;
    color: #911300;
    font-weight: bold;
}
.box.right-box.maroon-dot > .box-header .subtitle{
	font-size: 10px;
}
.box.right-box.maroon-dot > .box-body p{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#911300+0,923222+100 */
	background: #911300; /* Old browsers */
	background: -moz-linear-gradient(top, #911300 0%, #923222 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #911300 0%,#923222 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #911300 0%,#923222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#911300', endColorstr='#923222',GradientType=0 ); /* IE6-9 */
}
.box.right-box.maroon-dot .right-dot{
	top: 15px;
}

.box.right-box.maroon-dot .box-image{
	margin-top: 10px;
}
.box.right-box.maroon-dot{
	margin-bottom: 40px;
}
.box.right-box.yellow-dot > .box-header .title{
    margin-top: 18px;
    font-size: 1em;
    color: #FDAF17;
    font-weight: bold;
}
.box.right-box.yellow-dot > .box-header .subtitle{
	font-size: 10px;
}
.box.right-box.yellow-dot .box-image{
	margin-top: 20px;
}
.box.right-box.yellow-dot > .box-body p {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fca400+0,fdaf17+94,fdaf17+100 */
	background: #fca400; /* Old browsers */
	background: -moz-linear-gradient(top, #fca400 0%, #fdaf17 94%, #fdaf17 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fca400 0%,#fdaf17 94%,#fdaf17 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fca400 0%,#fdaf17 94%,#fdaf17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca400', endColorstr='#fdaf17',GradientType=0 ); /* IE6-9 */
}

.right-dot{
	display: block;
    background-image: url(../imgs/teaser-link-arrow.png);
    width: 19px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: -10px;
    top: 8px;
}