<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Amaris test</title>

    <!-- Normalize -->
    <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Animate -->
    <link href="css/animate.css" rel="stylesheet" />
    <!-- Basic -->
    <link href="css/basic.css" rel="stylesheet" />
  </head>
  <body ng-app="amarisApp" ng-controller="HomeController">
    <!-- Main container -->
    <div class="container">
      <div class="row">
        <!-- Left column -->
        <aside class="col-xs-2">
          <!-- Boxes -->
          <div ng-repeat="menu in mainMenus" class="col-xs-12 no-padding leftMenuOptions">
            <div class="box">
              <div class="box-header">
                <img class="img-responsive" src="{{menu.ImgSrc}}" alt="{{menu.Title}}" />  
              </div>
              <div class="box-body">
                <ul>
                  <li class="{{menu.SpecialClass}} {{menu.SubMenuIconClass}} submenus submenu-{{subMenu.ID}}" ng-repeat="subMenu in menu.SubMenus" ng-click="ChangeContent(menu, subMenu)">{{subMenu.Title}}<span class="box-dot"></span></li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
        <!-- Center column -->
        <section class="col-sm-8">
          <!-- Banner -->
          <div class="row">
            <div class="col-sm-12 no-padding">
              <div id="banner-container" class="big-slider">
                <div class="window-element"></div>
                <div class="slide active">
                  <img class="img-responsive big-slide" src="imgs/banner-1.jpg" alt="slide 1" />
                  <img class="img-responsive small-slide" src="imgs/sub_banner-1.jpg" alt="slide 1" />
                </div>
                <div class="slide">
                  <img class="img-responsive big-slide" src="imgs/banner-2.jpg" alt="slide 2" />
                  <img class="img-responsive small-slide" src="imgs/sub_banner-2.jpg" alt="slide 2" />
                </div>
                <div class="slide">
                  <img class="img-responsive big-slide" src="imgs/banner-3.jpg" alt="slide 3" />
                  <img class="img-responsive small-slide" src="imgs/sub_banner-3.jpg" alt="slide 3" />
                </div>
              </div>
            </div>
          </div>
          <!-- Main menu -->
          <div class="row">
            <!-- Boxes -->
            <div ng-repeat="menu in mainMenus" class="col-xs-6 col-sm-3 no-padding centerMenuOptions">
              <div class="box">
                <div class="box-header">
                  <img class="img-responsive" src="{{menu.ImgSrc}}" alt="{{menu.Title}}" />  
                </div>
                <div class="box-body">
                  <ul>
                    <li class="{{menu.SpecialClass}} {{menu.SubMenuIconClass}}" ng-repeat="subMenu in menu.SubMenus" ng-click="ShowMainContent(menu, subMenu)">{{subMenu.Title}}<span class="box-dot"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Main navegational section -->
          <div class="row nav-section">
            <nav>
              <a class="nav-item nav-item-{{link.ID}} {{navLink.SubMenuIconClass}} {{link.Activo}}" ng-repeat="link in navLink.items" ng-click="NavChange(link)">{{link.Title}}</a>
            </nav>
          </div>
          <!-- Content sections -->
          <div class="row nav-contents">
            <div class="nav-item-content {{navContent.SubMenuIconClass}}" ng-repeat="navContent in navContent.contents">
              <img class="img-responsive" src="{{navContent.ImgSrc}}" alt="{{navContent.Title}}" />
              <div class="description">
                <span>{{navContent.Description}}</span>
              </div>
            </div>
          </div>
          <!-- Content footer sections -->
          <div class="row nav-contents footer-contents">
            <div class="footer-item-content col-xs-12 col-sm-6" ng-repeat="navContentLink in navContent.links">
              <h4>{{navContentLink.Title}}</h4>
              <div class="link-item" ng-repeat="item in navContentLink.items">
                <span class="excel-icon"></span><span>{{item.Title}}</span>
              </div>
            </div>
          </div>
          <!-- Content footer -->
          <div class="row nav-contents footer-aditional">
            <div class="col-xs-12 col-sm-6">
              <h4>About <span class="plus-icon"></span></h4>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>News <span class="plus-icon"></span></h4>
            </div>
          </div>
        </section>
        <!-- Right column -->
        <aside class="col-xs-2">
          <div class="box right-box orange-dot">
            <div class="box-header">
              <div class="col-xs-3 no-padding">
                <img class="box-image" src="imgs/registration.png" alt="registration" />  
              </div>
              <div class="col-xs-9">
                <h4 class="title">Registration</h4>
              </div>
            </div>
            <div class="box-body">
              <p>Request access to the tools<span class="right-dot"></span></p>
            </div>
          </div>
          <div class="box right-box maroon-dot">
            <div class="box-header">
              <div class="col-xs-3 no-padding">
                <img class="box-image" src="imgs/why_you_need.png" alt="why you need" />  
              </div>
              <div class="col-xs-9">
                <h4 class="title">Why you need</h4>
                <p class="subtitle">Global Analytics</p>
              </div>
            </div>
            <div class="box-body">
              <p>Easy access to high level management information<span class="right-dot"></span></p>
            </div>
          </div>
          <div class="box right-box yellow-dot">
            <div class="box-header">
              <div class="col-xs-3 no-padding">
                <img class="box-image" src="imgs/learn.png" alt="why you need" />  
              </div>
              <div class="col-xs-9">
                <h4 class="title">Learn</h4>
                <p class="subtitle">About the technology</p>
              </div>
            </div>
            <div class="box-body">
              <p>Powered Pharma Services MIS using Microsoft BI<span class="right-dot"></span></p>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <!-- jQuery  -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Slider basic plugin -->
    <script src="js/slider-plugin-0.0.1.js"></script>
    <!-- General -->
    <script src="js/general.js"></script>
    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <!-- Controllers -->
    <script src="app/controllers/HomeController.js"></script>
  </body>
</html>